@import '../../theme';

$padding: $spacing $spacing * 10;

#menu {
    display: flex;
    align-items: center;

    height: 2.5em;
    padding: $padding;

    @include shadow;
    background-color: $dark-primary-color;
}

#menu-title {
    flex-grow: 1;
}
