@mixin flex {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
}

@mixin align-items($align) {
    align-items: $align;
    -o-align-items: $align;
    -ms-align-items: $align;
    -moz-align-items: $align;
    -webkit-align-items: $align;
}

@mixin justify-content($justify) {
    justify-content: $justify;
    -o-align-items: $justify;
    -ms-align-items: $justify;
    -moz-align-items: $justify;
    -webkit-align-items: $justify;
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}
