$font: 'Roboto';
$spacing: 0.7em;

$text-color: #FFF;
$shadow-color: #455A64;

$primary-color: #607D8B;
$dark-primary-color: #455A64;
$light-primary-color: #CFD8DC;

$background-color: $light-primary-color;

@mixin shadow {
    box-shadow: 0 3px 0px rgba($shadow-color, .25),
        4px 0 4px 0 rgba($shadow-color, .10),
        -4px 0 4px 0 rgba($shadow-color, .10);
}
