@import '../../theme';

$size: 3em;
$hover-size: 1.5em;
$hover-color: #000;
$icon-size: $size - $hover-size;

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $size;
    width: $size;

    border-radius: 50%;
    background-color: transparent;
    transition: background-color .5s linear;

    &:hover {
        background-color: rgba($hover-color, .3);
    }

    svg {
        fill: white;
        height: $icon-size;
        width: $icon-size;
    }
}
